.wp-list-table #date {
    width: 15%
}

.wp-list-table #executed {
    width: 10%
}

.dashicons.spin {
    animation: dashicons-spin 1s infinite;
    animation-timing-function: linear;
}

@keyframes dashicons-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}